body{
	padding: 0px;
	margin: 0px;
	font-family: Calibri;
	font-size: 12px;
}
figure{
	width: fit-content;
	padding: 0px;
	margin: 0px;
	color: rgb(255,255,255);
}
figcaption{
	position: relative;
	text-align: center;
}

.main-container{
	position: absolute;
	width: 1175px;
	height: 705px;
	left: 50%;
	transform: translate(-50%,0);
}

a:link, a:visited{
	color: rgb(105,163,235);
	font-size: 12px;
	font-weight: 600;
}

@media screen and (max-width: 1175px){
	.main-container{
		left: 0%;
		transform: translate(0,0);
	}
}